
<link rel="stylesheet" href="DecisionMaker.css">
<script src="main.js"></script>

<div id="appView">
    <div id="decisionOptions" class="uiGroup"></div>
    <div id="addNewDecisionOptionForm" class="uiGroup">
        <label for="optionName">Add new decision option</label><br/>
        <input id="optionName" type="text"/>
        <button id="addDecisionOptionButton">Add</button>
    </div>
    <div class="uiGroup">
        <button id="makeDecisionButton">Make decision</button>
        <button id="resetButton">Reset</button>
    </div>
    <div id="decisionResult" class="uiGroup">

    </div>    
</div>